.subtitle + .title {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.post + .post {
    margin-top: 3rem;
}

.tag {
    float: right;
}
