.content {
    line-height: 1.75;
    background: #fefefe;
    font-weight: normal;
    blockquote {
        background-color: #f5f7fa;
	border-left: 0.3rem solid #d3d6db;
	padding: 1.5em;
    }
    p {
        text-align: left;
    }
    li+li {
        margin-top: 0.25em;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        margin-bottom: 1rem;
        line-height: 1.25;
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
    h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    h1 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.15rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: 1.05rem;
    }
    h6 {
        font-size: 1rem;
    }
    pre, code {
        @include font-code;
        font-size: 90%;
        padding: 2px 4px;
        margin: 0 2px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f8f8f8;
    }

    pre > code {
        display: block;
        border: none;
        font-style: normal;
        font-size: 1rem;
    }
    figcaption {
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: #2077b2;
        &:hover {
            color: $content;
        }
    }
}
