$body-width: 40rem;
$grey: #69707a;
$black: #222324;
$content: #42464c;
$content-size: 1rem;
$title-size: 1.25rem;
$small-size: 0.9rem;
@import "normalize";
@import "fonts";
@import "base";
@import "page";
@import "portfolio";
@import "blog";
