$body-width: 40rem;
$grey: #69707a;
$black: #222324;
$content: #42464c;
$content-size: 16px;
$title-size: 24px;
$small-size: 14px;
@import "normalize";
@import "fonts";
@import "base";
@import "page";
@import "portfolio";
@import "blog";
