{% extends "index.html" %}
{% block content %}
{% for page in term.pages %}
<article class="post">
    <h2 class="subtitle">{{ page.date | date(format="%B %d, %Y") }}</h2>
    {% for tag in page.taxonomies.tags %}
    <a href="/tags/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
    <h1 class="title">
        <a href="{{ page.permalink }}">
            {{ page.title }}
        </a>
    </h1>
    <div class="content summary">
        {{ page.summary | safe }}
        <a href="{{ page.permalink }}">Read more</a>
    </div>
</article>
{% endfor %}
{% endblock content %}
