{% extends "index.html" %}
{% block content %}
<div class="grid">
    {% for page in term.pages %}
    <article class="work">
        {% if page.taxonomies.types %}
        {% include "title-types.html" %}
        {% endif %}
        <a href="{{ page.permalink }}"><img class="preview" src="{{ page.extra.image }}"/></a>
        <h1 class="title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <h2 class="subtitle">{{ page.summary | safe }}</h2>
    </article>
    {% endfor %}
</div>
{% endblock content%}
