<header>
    <div class="logo">
        <h1 class="title"><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    </div>
    <nav class="menu">
        <ul>
            {% for item in config.extra.menu %}
            <li><a href="/{{ item.name }}">
                {% if item.name == "portfolio" %}
                Portfolio
                {% endif %}
                {% if item.name == "blog" %}
                Blog
                {% endif %}
                {% if item.name == "about" %}
                About
                {% endif %}
            </a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
